.container {
  padding: 0;
  min-height: 100vh;
  background-image: url('../public/bg-img2.jpg');
  background-repeat: no-repeat;

  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  /* min-height: 100vh; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url('../public/bg-img2.jpg'); */
}

.footerContainer {
  height: 30px;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #000;
}

.homeFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeSocial {
  margin: 10px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.visionContainer {
  width: 60%;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 30px;
  border: 1px solid white;
  border-radius: 1rem;
}

.visionTitle {
  font-size: 2rem;
}

.visionP {
  font-size: 1.5rem;
  margin: 10px;
}

.starsContainer {
  width: 80%;
  display: flex;
  align-items: flex-start;
  background: black;
  padding: 20px;
  border: 1px solid white;
  border-radius: 1rem;
}

.starsJob {
  margin: 10px;
}
.starsTitle {
  color: white;
  font-size: 1rem;
}

.videoContainer video {
  min-height: 400px;
}
